{% extends 'base.twig' %}

{% block htmlHeadCss %}
    <link href="/css/adminFlexSimple.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block htmlBodyContent %}

    {% include 'admin/partials/header.twig' %}

    <main>
        <div id='simpleContainer'>
            <h1>{{ title }}</h1>
            <form name="f1" method="post" action="{{ path_for(formActionRoute, {'primaryKey': primaryKey})}}">
                {% if generalFormError %}
                    <div class="generalFormError">{{ generalFormError }}</div>
                {% endif %}
                {% import 'macros/formFields.twig' as formFieldsMacro %}
                {{ formFieldsMacro.render(formFields) }}
                {% include 'partials/csrfFields.twig' %}
            </form>
        </div>
    </main>

    {% include 'admin/partials/footer.twig' %}

{% endblock %}

{% block htmlBodyJs %}
    {% if focusField %}
        <script type="text/javascript">
            window.onload = document.getElementById('{{ focusField }}').focus();
        </script>
    {% endif %}
    <script type='text/javascript' src='/js/uiHelper.js'></script>
{% endblock %}