{% extends "base.twig" %}

{% block htmlHeadCss %}
    <link href="/css/adminFlexList.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block htmlBodyContent %}

    {% include 'admin/partials/header.twig' %}

    <main>
        <div id="scrollingTableContainer">
            <table class="scrollingTable sortable">
                <thead>
                    <tr>
                        <th colspan="10">
                            {{ title }} ({{ numResults }})
                            {% if insertLink %}
                                <a class="tableCaptionAction" href="{{ path_for(insertLink.route) }}">{{ insertLink.text }}</a>
                            {% endif %}
                        </th>
                    </tr>
                    {% set break = false %}
                    {% for row in results if not break %}
                        <tr class="sortable-header-row">
                            {% set colCount = 0 %}
                            {% for key in row|keys %}
                                {% if key == sortColumn %}
                                    {% set thClass = ' sorttable_sorted_reverse' %}
                                {% else %}
                                    {% set thClass = '' %}
                                {% endif %}
                                {#<th class="{{ thClass }}"><a href="#" onclick="sortTable(tbody, {{ colCount }}, asc1); asc1 *= -1; asc2 = 1; asc3 = 1;">{{ key }}</a></th>#}
                                <th class="{{ thClass }}">{{ key }}</th>
                                {% set colCount = colCount + 1 %}
                            {% endfor %}

                            {% if addDeleteColumn  %}
                                <th class="sorttable_nosort">X</th>
                            {% endif %}
                        </tr>
                        {% set break = true %}
                    {% endfor %}
                </thead>
                <tbody id="tbody">
                {% set rowId = 0 %}
                {% for row in results %}
                    {% set rowId = rowId + 1 %}
                    <script type="text/javascript"></script>
                    <tr id="row{{ rowId }}">
                        {% for key, value in row %}
                            {# for admins table, do not allow non-owners to edit owners #}
                            {% if key == primaryKeyColumn and updatePermitted and (title != 'Admins' or (authentication.user.role == 'owner' or attribute(row, 'role') != 'owner')) %}

                                <td><a href="{{ path_for(updateRoute, {"primaryKey": attribute(row, primaryKeyColumn)}) }}" title="update">{{ value }}</a></td>

                            {%  else %}
                                <td>{{ value }}</td>
                            {% endif %}
                        {% endfor %}


                        {# add delete column if necessary #}
                        {# for admins table, do not admin to delete themself or non-owners to delete owners #}
                        {% if addDeleteColumn and (title != 'Admins' or (attribute(row, 'username') != authentication.user.username and (authentication.user.role == 'owner' or attribute(row, 'role') != 'owner'))) %}
                            <td><a href="{{ path_for(deleteRoute, {"primaryKey": attribute(row, primaryKeyColumn)}) }}" title="delete" onclick="return confirm('Are you sure you want to delete record  {{ attribute(row, primaryKeyColumn) }}?');">X</a></td>
                        {% else %}
                            <td>&nbsp;</td>
                        {% endif %}

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </main>

    {% include 'admin/partials/footer.twig' %}

{% endblock %}
{% block htmlBodyJs %}
    <script type="text/javascript" src="/js/uiHelper.js"></script>
    <script type="text/javascript" src="/js/sortTable.js"></script>
{% endblock %}