{% extends "base.twig" %}

{% block htmlHeadCss %}
    <link href="/css/adminGrid.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block htmlBodyContent %}

    {% include 'admin/partials/header.twig' %}

    {% include 'admin/partials/nav.twig' %}

    <main>
        <div id="scrollingTableContainer">
            <table class="scrollingTable">
                <thead>
                <tr>
                    <th colspan="10">
                        {{ title }}
                        {% if insertLink %}
                            <a class="tableCaptionAction" href="{{ path_for(insertLink.route) }}">{{ insertLink.text }}</a>
                        {% endif %}
                    </th>
                </tr>
                {% set break = false %}
                {% for row in table if not break %}
                    <tr>
                        {% for key in row|keys %}
                            <th>{{ key }}</th>
                        {% endfor %}

                        {% if addDeleteColumn  %}
                            <th>X</th>
                        {% endif %}
                    </tr>
                    {% set break = true %}
                {% endfor %}
                </thead>
                <tbody>
                {% for row in table %}
                    <tr>
                        {% for key, value in row %}
                            {# for admins table, do not allow non-owners to edit owners #}
                            {% if key == primaryKeyColumn and updatePermitted and (title != 'Admins' or (authentication.user.role == 'owner' or attribute(row, 'role') != 'owner')) %}

                                <td><a href="{{ path_for(updateRoute, {"primaryKey": attribute(row, primaryKeyColumn)}) }}" title="update">{{ value }}</a></td>

                            {%  else %}
                                <td>{{ value }}</td>
                            {% endif %}
                        {% endfor %}


                        {# add delete column if necessary #}
                        {# for admins table, do not admin to delete themself or non-owners to delete owners #}
                        {% if addDeleteColumn and (title != 'Admins' or (attribute(row, 'username') != authentication.user.username and (authentication.user.role == 'owner' or attribute(row, 'role') != 'owner'))) %}
                            <td><a href="{{ path_for(deleteRoute, {"primaryKey": attribute(row, primaryKeyColumn)}) }}" title="delete" onclick="return confirm('Are you sure you want to delete record  {{ attribute(row, primaryKeyColumn) }}?');">X</a></td>
                        {% else %}
                            <td>&nbsp;</td>
                        {% endif %}

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </main>

    {% include 'admin/partials/footer.twig' %}

{% endblock %}
{% block htmlBodyJs %}
    <script type="text/javascript" src="/js/uiHelper.js"></script>
{% endblock %}