<header id="adminPageHeaderGrid">
    <div>
        {{ storeName }}
        {% if not isLive %}
            <span style="color: grey;">{LOCAL}</span>
        {% endif %}
    </div>
    <div>
        {% if adminNotice %}
            <span class="{{ adminNotice.1 }}">&raquo; {{ adminNotice.0 }} &laquo;</span>
        {% endif %}
    </div>
    <div>
        Hello {{ authentication.user.username }}
        [<a href="{{ path_for("authentication.logout")}}">logout</a>]
    </div>
</header>