<header id="adminPageHeader">

    {% if (authentication.check) %}
        <nav id="adminNav">

            <input type="checkbox" id="toggle-nav">
            <label id="toggle-nav-label" for="toggle-nav"><i class="icon-reorder"></i></label>

            <div id="navOverlay">
                {% include 'admin/partials/nav.twig' %}
            </div>

        </nav>
    {% endif %}

    <div id="adminPageHeaderLogo">
        <a href="{{ path_for('home') }}">{{ businessName }}</a>
        {% if not isLive %}
            <span style="color: grey;">{LOCAL}</span>
        {% endif %}
    </div>

    {% if (authentication.check) %}
        <div id="adminPageHeaderNotice">
            {% if adminNotice %}
                <span class="{{ adminNotice.1 }}">&raquo; {{ adminNotice.0 }} &laquo;</span>
            {% endif %}
        </div>
        <div id="adminPageHeaderGreeting">
            Hello {{ authentication.user.username }}
            [<a href="{{ path_for("authentication.logout")}}">logout</a>]
        </div>
    {% endif %}

</header>