    <div id='scrollingTableContainer'>
        <table class='scrollingTable'>
            <thead>
                {% set break = false %}
                {% for row in results if not break %}
                    <tr>
                        {% for key in row|keys %}
                            <th>{{ key }}</th>
                        {% endfor %}
                    </tr>
                    {% set break = true %}
                {% endfor %}
            </thead>
            <tbody>
            {% for row in results %}
                <tr>
                    {% for column in row %}
                        {% if loop.first %}
                            <td><a href='{{ path_for('admins.show') }}/{{ column }}' title='update' target='' onclick=''>{{ column }}</a></td>
                        {% else %}
                            <td>{{ column }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

