<nav id="adminNav">
    <ul>
        {% for key, navigationItem in navigationItems %}
        <li>
            {% if navigationItem.link %}
                <a href="{{ navigationItem.link }}">{{ key }}</a>
            {% else %}
                {{ key }}
            {% endif %}

            {% if navigationItem.subSections %}
                <ul>
                {% for key, subSectionItem in navigationItem.subSections %}
                    <li><a href="{{ subSectionItem.link }}">{{ key }}</a></li>
                {% endfor %}
                </ul>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</nav>