{% extends 'base.twig' %}

{% block htmlHeadCss %}
    <link href="/css/adminSimpleGrid.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block htmlBodyContent %}

    {% include 'admin/partials/header.twig' %}

    <main>
        <h1>Login</h1>
        <h5>Authorized for use by {{ businessName }} employees and associates only.</h5>
        <form name="loginForm" method="post" action="{{ path_for('authentication.post.login')}}">
            {% if generalFormError %}
                <span class="generalFormError">{{ generalFormError }}</span>
            {% endif %}
            {% import 'macros/formFields.twig' as formFieldsMacro %}
            {{ formFieldsMacro.render(formFields) }}
        </form>
    </main>

    {% include 'admin/partials/footer.twig' %}

{% endblock %}
{% block htmlBodyJs %}
    {% if focusField %}
        <script type="text/javascript">
            window.onload = document.getElementById('{{ focusField }}').focus();
        </script>
    {% endif %}
    <script type="text/javascript" src="/js/uiHelper.js"></script>
{% endblock %}